services:
  elastic-agent:
    hostname: ${AGENT_HOSTNAME}
    image: "${ELASTIC_AGENT_IMAGE_REF}"
    healthcheck:
      test: "elastic-agent status"
      retries: 180
      interval: 1s
    {{ if ne .pidMode "" }}
    pid: {{ .pidMode }}
    {{ end }}
    {{ if ne .user "" }}
    user: {{ .user }}
    {{ end }}
    {{ if .capabilities }}
    cap_add:
    {{- range .capabilities }}
      - {{ . }}
    {{- end }}
    {{ end }}
    environment:
      - FLEET_ENROLL=1
      - FLEET_URL=https://fleet-server:8220
      - KIBANA_HOST=https://kibana:5601
      - FLEET_TOKEN_POLICY_NAME=${FLEET_TOKEN_POLICY_NAME}
    volumes:
      - ${SERVICE_LOGS_DIR}:/tmp/service_logs/
      - ${LOCAL_CA_CERT}:/etc/ssl/certs/elastic-package.pem
