# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# OSX
.DS_Store

# Test binary, built with `go test -c`
*.test

# elastic-package binary built with go build
elastic-package

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# IDEA
.idea

# Build directory
/build

# stack dump
elastic-stack-dump/

# elastic-package create: default package
new_package

# default output directory for dump commands
package-dump
