{{ $version := fact "agent_version" }}
{{ $fleetURL := fact "fleet_url" }}
{{ $kibanaHost := fact "kibana_host" }}
{{ $username := fact "username" }}
{{ $password := fact "password" }}
FLEET_ENROLL=1
FLEET_URL={{ $fleetURL }}
KIBANA_FLEET_HOST={{ $kibanaHost }}
KIBANA_HOST={{ $kibanaHost }}
ELASTICSEARCH_USERNAME={{ $username }}
ELASTICSEARCH_PASSWORD={{ $password }}
{{ if not (semverLessThan $version "8.0.0") }}
FLEET_TOKEN_POLICY_NAME=Elastic-Agent (elastic-package)
{{ end }}
