{{ $version := fact "agent_version" }}
FLEET_ENROLL=1
FLEET_URL={{ fact "fleet_url" }}
KIBANA_FLEET_HOST={{ fact "kibana_host" }}
KIBANA_HOST={{ fact "kibana_host" }}
{{- $enrollment_token := fact "enrollment_token" }}
{{- if eq $enrollment_token "" }}
ELASTICSEARCH_USERNAME={{ fact "username" }}
ELASTICSEARCH_PASSWORD={{ fact "password" }}
{{- if not (semverLessThan $version "8.0.0") }}
FLEET_TOKEN_POLICY_NAME=Elastic-Agent (elastic-package)
{{- end }}
{{- else }}
FLEET_ENROLLMENT_TOKEN={{ $enrollment_token }}
{{- end }}
