{{ $version := fact "agent_version" }}
FLEET_ENROLL=1
FLEET_URL={{ fact "fleet_url" }}
KIBANA_FLEET_HOST={{ fact "kibana_host" }}
KIBANA_HOST={{ fact "kibana_host" }}
{{ $api_key := fact "api_key" }}
{{- if eq $api_key "" }}
ELASTICSEARCH_USERNAME={{ fact "username" }}
ELASTICSEARCH_PASSWORD={{ fact "password" }}
{{- else }}
ELASTICSEARCH_API_KEY={{ $api_key }}
{{- end }}
{{ if not (semverLessThan $version "8.0.0") }}
FLEET_TOKEN_POLICY_NAME=Elastic-Agent (elastic-package)
{{ end }}
