input {
  elastic_agent {
    port => 5044
    ssl_enabled => true
    ssl_certificate_authorities => ["/usr/share/logstash/config/certs/ca-cert.pem"]
    ssl_certificate => "/usr/share/logstash/config/certs/cert.pem"
    ssl_key => "/tmp/logstash.pkcs8.key"
  }
}


filter {
  elastic_integration {
    remove_field => ['@version']
    hosts => ["https://elasticsearch:9200"]
    username => {{ fact "username" }}
    password => {{ fact "password" }}
    ssl_enabled => true
    ssl_verification_mode => "none"
  }
}


output {
  elasticsearch {
    hosts => ["https://elasticsearch:9200"]
    user => {{ fact "username" }}
    password => {{ fact "password" }}
    ssl_enabled => true
    ssl_certificate_authorities => "/usr/share/logstash/config/certs/elasticsearch.pem"
    document_id => "%{[@metadata][_ingest_document][id]}"
  }
}
