input {
  elastic_agent {
    port => 5044
  }
}


filter {
  elastic_integration {
    username => {{ fact "username" }}
    password => {{ fact "password" }}
  }
}


output {
  elasticsearch {
    hosts => ["http://localhost:9200"] 
    data_stream => "true"
  }
}
